*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 13vh;
    padding: 2vw 7vw;
    padding-bottom: 5vw;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #111;
    z-index: 10;
}

/* #navlinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
}

#navlinks{
    font-size: 0.9vw;
    font-weight: 900;
    text-transform: uppercase;
} */

nav h1{
    font-size: 1.6vw;
}

/* nav:hover #expand{
    height: 150%;
    bottom: -150%;
    background-color: #111;
} */

#expand{
    display: flex;
    align-items: flex-start;
    padding: 1vh 0;
    gap: 2vw;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

#expand h4{
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2.6vw;
}

#expand h5 span{
    font-size: 0.8vw;
    font-weight: 500;
    display: inline-block;
    transform: translateY(25px);
}

#expand h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

#nav-line{
    width: 86%;
    height: 21vh;
    position: absolute;
    top: 100%;
    border-bottom: 1px solid #dadada;
    background-color: #111;
    height: 0;
    /* z-index: 9; */
}

nav button{
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    padding: 15px 18px;
    font-size: 1vw;
    font-weight: 900;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    z-index: 9;
}

nav button svg{
    height: 1vw;
    margin-left: 1.4vw;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page1 h1{
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 9vw;
}

#page1 h1:nth-child(1)
{
    margin-top: 15vh;
}

#page1 h1 svg{
    height: 6.5vw;
    width: 6.5vw;
    border-radius: 50%;
    background-color: #0DA34E;
}

#page1 p{
    text-align: center;
    font-weight: 500;
    margin-top: 6vh;
}

#page1 #box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1 #box h4{
    font-weight: 500;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    margin-top: 0.6vh;
}

#page1 #box h4:nth-last-child(2){
    border: none;
    padding: 5px;
}

#moving-div{
    position: absolute;
    bottom: 2%;
    width: 48%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.2vw;
}

#moving-div .move{
    display: inline-block;
    animation: doit 10s linear infinite;
}

#moving-div .move img{
    height: 1.3vw;
    margin: 0 1vw;
}

@keyframes doit{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#lblur{
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(to right, #111, transparent);
}

#rblur{
    height: 100%;
    width: 10%;
    position: absolute;
    background: linear-gradient(to right, transparent, #111);
    right: 0;
    top: 0;
    z-index: 2;
}




#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0 7vw;
    padding-bottom: 6vw;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7vw;  
    right: 7vw; 
    border-top: 1px solid #333;
    height: 0;
}

#p2left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 3vw 0;
}

#p2left p{
    font-size: 1.1vw;
}

#p2left h5{
    font-size: 1.2vw;
    font-weight: 500;
    width: 77%;
}

#p2right{
    height: 100%;
    width: 50%;
}

.rparts {
    position: relative;
    /* background-color: red; */
    padding-top: 1.5vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.rparts:nth-last-child(1)
{
    border-bottom: none;
}

.rparts h2{
    position: relative;
    font-size: 1.6vw;
    font-weight: 700;
    z-index: 2;
}

.rparts img{
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    scale: 0;
    z-index: 0;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 h5{
    font-size: 0.8vw;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-weight: 900;
    margin-top: 0.7vw;
    letter-spacing: 0.7px;
    opacity: 0;
    transform: translateY(-10%);
    transition: all ease 0.5s;
}

#p3center:hover h5{
    opacity: 1;
    transform: translateY(10%);
    cursor: pointer;
}

#p3center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#p3center:hover{
    cursor: pointer;
}

#p3icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.6vw;
    border-radius: 50%;
    background-color: white;
}

#p3icon i{
    font-size: 2.7vw;
    color: #111;
}

#page3 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 999;
}


#page4{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.5vw 6vw;
}

#p4left{
    height: 100%;
    width: 50%;
    display: flex;
    color: black;
}

#p4left h1{
    width: 55%;
    font-size: 3vw;
    font-weight: 900;
    color: black;
}

#p4right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* padding: 0 7vw; */
    color: black;
}

#p4right h4{
    font-size: 1.1vw;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.437);
    text-transform: uppercase;
    margin-bottom: 1.6vw;
}

#p4right p{
    font-size: 1.4vw;
    font-weight: 900;
    color: black;
    letter-spacing: 0.9px;
    line-height: 1.9vw;
}

#p4right p:first-of-type {
    padding-bottom: 4.5vw;
}

#page5{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    padding: 3vw 6vw;
}

.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.741);
    padding: 2vw 2vw;
}

.box span{
    font-size: 4.1vw;
    font-weight: 900;
    color: black;
}

.box h3{
    color: black;
    font-size: 1vw;
    padding-top: 2vw;
}

.box h5{
    padding-top: 7.5vw;
    color: rgba(0, 0, 0, 0.542);
}


#page-test{
    height: 50vh;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 4.5vw 6vw;
}

#testleft{
    height: 100%;
    width: 27%;
}

#testright{
    height: 100%;
    width: 73%;
    display: flex;
    padding-left: 1vw;
}

#testright span{
    font-size: 0.8vw;
    display: inline-block;
   color: black;
   width: 15vw;
   line-height: 15px;
}

#testright p{
    font-size: 2.5vw;
    font-weight: 900;
    color: black;
}


#page6{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    /* padding: 13vh 6vw; */
    padding-bottom: 13vh;
}

.section{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13vh 6vw;
    padding-bottom: 0;
}

.s1left{
    padding-top: 3vh;
    height: 100%;
    width: 25%;
    border-top: 2px solid #00000052;
}

.s1left h2{
    font-size: 2.3vw;
    color: black;
    font-weight: 900;
}

.s1left p{
    color: #000000d4;
    margin-top: 12vh;
    font-size: 1.1vw;
    font-weight: 700;
}

.s2right{
    height: 100%;
    width: 70%;
    position: relative;
}

.s2right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.s2right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}

#page7{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#p7up{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#p7up::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7vw;  
    right: 7vw; 
    border-bottom: 1px solid #fafafa33;
    height: 0;
}

#p7up p{
    font-size: 4.5vw;
    font-weight: 900;
}

#p7down{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    padding: 3vw 7vw;
}

#p7down button{
    background-color: #0BA34E;
    padding: 1.5vw 3vw;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    position: sticky;
    top: 20%;
}

#p7-d-right{
    width: 70%;
}

#p7-d-right>p{
    font-size: 2.4vw;
}

#p7-d-right>p span{
    width: 15vw;
    display: inline-block;
    font-size: 1vw;
}

#p7right-list{
    width: 100%;
    margin-top: 6vh;
    padding: 5vh 0;
}

#p7right-list h1{
    font-size: 3vw;
    font-weight: 900;
}

#p7right-list #flex{
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-transform: capitalize;
}

#p7right-list #flex h4{
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.438);
    padding: 5px 15px;
    font-size: 1vw;
    font-weight: 500;
}

.p7elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 9vh;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #333;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.p7elem p{
    width: 55%;
    font-size: 0.9vw;
    position: relative;
    z-index: 8;
}

.p7elem h3{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 700;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.p7elem i{
    font-size: 1vw;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.p7overlay{
    width: 100%;
    height: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.p7elem:hover h3{
    padding-left: 1vw;
}

.p7elem:hover i{
    padding-right: 1vw;
}

.p7elem:hover .p7overlay{
    transform: translateY(0);
    opacity: 1;
}

.p7elem:hover{
    border-top: 1px solid white;
}

summary::marker{
    content: "";
}

#uiux{
    border-top: 1px solid #333;
    padding: 3.5vh 0;
}

#product{
    border-top: 1px solid #333;
    padding: 3vh 0;
}

#page8{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 6vw 6vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#page8::before{
    content: "";
    position: absolute;
    top: 0;
    left: 7vw;  
    right: 7vw; 
    border-top: 1px solid #333;
    height: 0;
}

#p8up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#p8up h2{
    font-size: 1vw;
    text-align: center;
}

#p8up p{
    width: 75%;
    text-align: center;
    font-size: 2.3vw;
    font-weight: 700;
    margin-top: 3vw;
}

#p8cards{
    /* width: 100%;
    height: auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-top: 7vw;
}

.cards{
    height: 35vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5vw;
}

.cardup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carddown p{
    font-size: 0.9vw;
    width: 97%;
}

#page9{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#p9up{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#p9up::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7vw;  
    right: 7vw; 
    border-bottom: 1px solid #00000033;
    height: 0;
}

#p9up h1{
    color: black;
    font-size: 5vw;
    font-weight: 900;
}

#p9down{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    padding: 5vw 7vw;
}

#p9-up-left{
    background-color: #4F5BFF;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p9down a{
    position: absolute;
    text-decoration: none;
    font-size: 0.8vw;
    font-weight: 700;
    text-transform: uppercase;  
}

#p9down i{
    font-size: 1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#p9-d-right{
    width: 55%;
    margin-right: 11.3vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

#p9-d-right p{
    color: black;
    font-size: 1.9vw;
}

#page10{
    width: 100%;
    min-height: 100vh;
    background-color: #111;
}



















/* Responsiveness? Too lazy to do now :) */
@media screen and (max-width: 1350px){
    body::before{
        content: "Mobile view is NOT Available Yet! Please open in Laptop or Desktop to view this awesome website!";
        display: block;
        font-size: 5.5vw;
        width: 40%;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
        color: black;
    }
    #main, nav{
        display: none;
    }
}