*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5vw 8vw;
    justify-content: space-between;
    text-transform: uppercase;
}

#navlinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
}

#navlinks{
    font-size: 0.9vw;
    font-weight: 900;
    text-transform: uppercase;
}

nav:hover #expand{
    height: 150%;
    bottom: -150%;
    background-color: #111;
}

#expand{
    position: absolute;
    height: 0%;
    width: 84%;
    bottom: 0;
    border-bottom: 1.5px solid #dadada;
    transition: all ease 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 2vw; */
    padding-top: 1vw;
    padding-bottom: 3vw;
    padding-left: 17vw;
    padding-right: 16vw;
}


nav button{
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    padding: 15px 18px;
    font-size: 1vw;
    font-weight: 900;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    z-index: 9;
}

nav button svg{
    height: 1vw;
    margin-left: 1.4vw;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page1 h1{
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 9vw;
}

#page1 h1:nth-child(1)
{
    margin-top: 15vh;
}

#page1 h1 svg{
    height: 6.5vw;
    width: 6.5vw;
    border-radius: 50%;
    background-color: #0DA34E;
}

#page1 p{
    text-align: center;
    font-weight: 500;
    margin-top: 6vh;
}

#page1 #box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1 #box h4{
    font-weight: 500;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    margin-top: 0.6vh;
}

#page1 #box h4:nth-last-child(2){
    border: none;
    padding: 5px;
}






#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}